.start-btn{
    transition: all 0.3s ease;
}

.login-btn{
    transition: all 0.3s ease;
}
.start-btn:hover{
    background-color: white !important;
    color: #5145E4 !important;
    transform: translateY(-2px);
}
.login-btn:hover{
    background-color: white !important;
    color: #5145E4 !important;
    transform: translateY(-2px);
}
.nav-link-custom{
    color: #050215 !important;
    font-size: 14px;
    transition: all 0.3s ease;
}

.nav-link-custom:hover{
    color: #5145E4 !important;
}

.active-nav-link{
    color: #5145E4 !important;
    position: relative;
}
.active-nav-link::after{
    content: "";
    position: absolute;
    left: 12px;
    bottom: 0;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #5145E4;
    border-radius: 999px;
}